<div class="top">
    <div class="connecting">
        <h3>CONTACTS</h3>
        <div class="info-con">
            <span class="icon-location">Chiba,Japan</span>
            <span class="icon-email">huxy214@gamil.com</span>
            <span class="icon-display">University of Tokyo HEI-Lab</span>
        </div>
    </div>
    <div class="infor-me">
    <div class="about-me">
        <span class="header-x">H</span>
        <div class="info-me">
            <div class="name">胡 献尹(Hu Xianyin)</div>
            <div class="work">修士二年生　東京大学Master student</div>
        </div>


</div>
</div>
<div class="work_info">
    <h2 class="workexpr">WORK EXPERIENCE</h2>
    <div class="wrapper">
    <h4>Marketplaces/2012-2013</h4>
    <p>This is to inform whomsoever it may concern and certify </p>
        <span class="ricy sec"></span>
        <h4>Marketplaces/2013-2014</h4>
        <p>This is to inform whomsoever it may concern and certify </p>
        <span class="ricy thid"></span>
        <h4>Marketplaces/2015-2018</h4>
        <p>This is to inform whomsoever it may concern and certify </p>
</div>
</div>
    <div class="work_info">
            <h2 class="workexpr">EDUCATION</h2>
        <div class="wrapper">
            <h4>COLLEGE/2012-2013</h4>
            <p>This is to inform whomsoever it may concern and certify </p>
            <span class="ricy sec"></span>
            <h4>UNIVERSITY/2013-2014</h4>
            <p>This is to inform whomsoever it may concern and certify </p>

        </div>
    </div>
    <div class="skill">
        <h2 class="workexpr">PROFESIONAL SKILLS</h2>
        <div class="box">
        <div class="wrap">
        <span class="iconfont">&#xe6e0;</span> <span>HTML & CSS</span>
        </div>
        <div class="wrap">
        <span class="iconfont">&#xe6e0;</span> <span>JQUERY</span>
        </div>
        <div class="wrap">
        <span class="iconfont">&#xe6e0;</span> <span>JAVASCRIPT</span>
        </div>

        <div class="wrap">
            <span class="iconfont">&#xe6e0;</span> <span>PHOTOSHOP</span>
        </div>
        <div class="wrap">
            <span class="iconfont">&#xe6e0;</span> <span>SLIM</span>
        </div>
        <div class="wrap">
            <span class="iconfont">&#xe6e0;</span> <span>JAVA</span>
        </div>
        </div>
    </div>
    <div class="activities">
        <h2 class="workexpr">EXTRA CURRICULAR ACTIVITIES</h2>
        <span class="iconfont">&#xe6e0;</span> <span>Volunteer</span>
        <p>Claritas est etiam process dynamicus,quisequitur mutationem consuetudium letctorum</p>
        <span class="iconfont">&#xe6e0;</span> <span>Volunteer</span>
        <p>Claritas est etiam process dynamicus,quisequitur mutationem consuetudium letctorum</p>
    </div>
</div>
