<div class="top">
    <div class="connecting">
        <h3>CONTACTS</h3>
        <div class="info-con">
            <span class="icon-location">Chiba,Japan</span>
            <span class="icon-email">private:huxy214@gamil.com</span>
            <span class="icon-email">work:huxianyin@lelab.t.u-tokyo.ac.jp</span>
        </div>
    </div>
    <div class="infor-me">
    <div class="about-me">
      <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user2.png"></a>
      </div>
        <div class="info-me">
            <div class="name">胡 献引(Hu Xianyin)</div>
            <div class="work">Master's course, Human & Environment Informatics Lab., Department of Human and Engineered Environmental Studies, Graduate School of Frontier Sciences, The University of Tokyo</div>
            <div class="work">東京大学 大学院新領域創成科学研究科</div>
            <div class="work">人間環境学専攻 <a href="http://www.lhei.k.u-tokyo.ac.jp">割澤・福井・米谷研究室</a></div>

        </div>


</div>
</div>

<div class="work_info">
    <h2 class="workexpr">EDUCATION</h2>
    <div class="wrapper">
        <h4>Bechelor/2013-2017</h4>
        <p>Hunan University (湖南大学), College of Computer Science and Electronic Engineering, Digital Media Technology</p>
        <span class="ricy sec"></span>
        <h4>Research Student/2017-2018</h4>
        <p>University of Tokyo (東京大学), Frontier Sciences, Human & Engineered Environmental Studies</p>
        <span class="ricy thid"></span>
        <h4>Master/2018-2020</h4>
        <p>University of Tokyo (東京大学), Frontier Sciences, Human & Engineered Environmental Studies</p>
    </div>
</div>

<div class="skill">
    <h2 class="workexpr">PROFESIONAL SKILLS</h2>
    <div class="box">
      <div class="wrap">
      <span class="iconfont">&#xe6e0;</span> <span>Python</span>
      </div>
      <div class="wrap">
      <span class="iconfont">&#xe6e0;</span> <span>C#</span>
      </div>
      <div class="wrap">
      <span class="iconfont">&#xe6e0;</span> <span>Unity3D</span>
      </div>
      <div class="wrap">
          <span class="iconfont">&#xe6e0;</span> <span>PHOTOSHOP</span>
      </div>
    </div>
</div>

<div class="activities">
  <h2 class="workexpr">EXTRA CURRICULAR ACTIVITIES</h2>
    <span class="iconfont">&#xe6e0;</span> <span>Volunteer</span>
    <p>Sociological Research in America Program under the category of Sino-US Educational & Cultural Exchange Program, and entitled as excellent participant of sociological research group.</p>
</div>
