<h2>Publications</h2>
<br>

<h3>Main</h3>
<hr>

<img src="{{site.baseurl}}/assets/res/master_thesis.png" width="300px">
<br>
<i>Master Thesis</i>, Xianyin Hu
<br>
Estimation of the Actication Level of Working memory (WML) Based on Physiological Signals Using LSTM.
<br>
<a href="https://drive.google.com/file/d/1XZ7HGjpPB9l8mvU0OBkT0G5k98CtGf8I/view?usp=sharing" target="_blank" class="button">SLIDES</a>

<br>
<br>
<img src="{{site.baseurl}}/assets/res/shift-invariance_1.gif" width="300px">
<img src="{{site.baseurl}}/assets/res/shift-invariance_2.gif" width="300px">
<br>
Xianyin Hu, Shangyin Zou, Yuki Ban, Shin'ichi Warisawa
<br>
The Effect of Maxblur-pooling in Neural Networks on Shift-invariance Issue in Various Biological Signal Classification Tasks
<br>
In <i>Biosignals 2020 (13th International Conference on Bio-inspired Systems and Signal Processing)</i>
<br> Won the Best Paper Award <br>
<a href="https://www.insticc.org/node/TechnicalProgram/biostec/2020/presentationDetails/88799" target="_blank" class="button">DOI</a>
<a href="https://www.insticc.org/Primoris/Resources/PaperPdf.ashx?idPaper=88799" target="_blank" class="button">PDF</a>
<a href="https://drive.google.com/file/d/1ztN274gn9PK5siDhFzxyYeEtnktIC-bR/view?usp=sharing" target="_blank" class="button">SLIDES</a>

<br>

<h3>Sub</h3>
<hr>
<img src="{{site.baseurl}}/assets/res/sig19.png" width="300px">
<br>
Masahiro Inazawa, Xianyin  Hu, Yuki  Ban
<br>
Biofeedback Interactive VR System Using Biological Information Measurement HMD
<br>
In <i>SA '19: SIGGRAPH Asia 2019 Emerging Technologies</i>
<br>
<a href="https://dl.acm.org/doi/abs/10.1145/3355049.3360523" target="_blank" class="button">DOI</a>
<a href="https://www.youtube.com/watch?v=a-wlddD2aUY&t=109s" target="_blank" class="button">VIDEO</a>