<h3>Publications</h3>
<br>

<h4>Main</h4>
<hr>

<img src="{{site.baseurl}}/assets/res/master_thesis.png" width="400px">
<br>
<b>Xianyin Hu</b>, Shinji Nakatsuru, Yuki Ban, Rui Fukui, Shin'ichi Warisawa
<br>
A Physiology-Based Approach for Estimation of Mental Fatigue Levels With Both High Time Resolution and High Level of Granularity
<br>
Published In <i>Informatics in Medicine Unlocked</i>
<br>
<a href="https://doi.org/10.1016/j.imu.2021.100594" target="_blank" class="button">DOI</a>
<a href="https://reader.elsevier.com/reader/sd/pii/S2352914821000848?token=9D492AEDD6099F7409BB23F788F51E622AF248292256B1AEE15EE14AF1E66157D3B26FA52AB5D2F3CC23D2F8C8D95A4C&originRegion=us-east-1&originCreation=20210513064512" target="_blank" class="button">PDF</a>

<br>
<br>
<img src="{{site.baseurl}}/assets/res/shift-invariance_1.gif" width="400px">
<img src="{{site.baseurl}}/assets/res/shift-invariance_2.gif" width="400px">
<br>
<b>Xianyin Hu</b>, Shangyin Zou, Yuki Ban, Shin'ichi Warisawa
<br>
The Effect of Maxblur-pooling in Neural Networks on Shift-invariance Issue in Various Biological Signal Classification Tasks
<br>
Presented In <i>Biosignals 2020 (13th International Conference on Bio-inspired Systems and Signal Processing)</i>
<font color="#ff0000">Won the Best Paper Award</font>
<br>
<a href="https://www.insticc.org/node/TechnicalProgram/biostec/2020/presentationDetails/88799" target="_blank" class="button">DOI</a>
<a href="https://www.insticc.org/Primoris/Resources/PaperPdf.ashx?idPaper=88799" target="_blank" class="button">PDF</a>
<a href="https://drive.google.com/file/d/1ztN274gn9PK5siDhFzxyYeEtnktIC-bR/view?usp=sharing" target="_blank" class="button">SLIDES</a>

<br>

<h4>Sub</h4>
<hr>
<img src="{{site.baseurl}}/assets/res/sig19.png" width="300px">
<br>
Masahiro Inazawa, <b>Xianyin Hu</b>, Yuki  Ban
<br>
Biofeedback Interactive VR System Using Biological Information Measurement HMD
<br>
In <i>SA '19: SIGGRAPH Asia 2019 Emerging Technologies</i>
<br>
<a href="https://dl.acm.org/doi/abs/10.1145/3355049.3360523" target="_blank" class="button">DOI</a>
<a href="https://www.youtube.com/watch?v=a-wlddD2aUY&t=109s" target="_blank" class="button">VIDEO</a>
