<script src="https://kit.fontawesome.com/b8a7fea4d4.js" crossorigin="anonymous"></script>
  <div class="cards">
    <!-- Magi -->
    <div class="card">
      <div class="card__image-holder">
        <img class="card__image" src="{{site.baseurl}}/assets/res/magi.png" alt="field" width=300px height=220px/>
      </div>
      <div class="card-title">
        <h2>「Magi」</h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          アニメ「マギ」からを得て，興味で作ったダンジョン攻略RPGゲームです．
          ミニ地図やアイテム購入システムなど色んなゲーミング要素が実装されてます．回合制バトルを楽しむことだできます．
          <br/><br/>
          <a href="https://www.youtube.com/watch?v=LbOaFd-KsAs" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-3x" style="color:red" ></i></a>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
          </div>
        </div>
      </div>
    </div>


     <!-- Horror VR -->
    <div class="card">
      <div class="card__image-holder">
        <img class="card__image" src="{{site.baseurl}}/assets/res/horror.gif" alt="field" width=300px height=220px/>
      </div>
      <div class="card-title">
        <h2>「Horror」</h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          生体情報センシングできるHMDの一つの応用として，脈波から推定された個人の恐怖度に合わせて視野の広さと環境の照明が変わるホラーVRゲームです．
          Siggraph Asia 2019において展示しました．
          <br/><br/>
          <i class="fab fa-github fa-3x"></i>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
          </div>
        </div>
      </div>
    </div>


     <!-- ATMT -->
     <div class="card">
      <div class="card__image-holder">
        <img class="card__image" src="{{site.baseurl}}/assets/res/atmt.gif" alt="field" width=300px height=220px/>
      </div>
      <div class="card-title">
        <h2>「ATMT」</h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          ATMT(Advanced Trail Making Test)は脳の元気度や有効活用度を定量化するための認知課題です．
          画面に不規則に散らばる数字を順に押して行くことで脳の機能を測定します．
          <br/><br/>
          <i class="fab fa-github fa-3x"></i>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
          </div>
        </div>
      </div>
    </div>

  </div>
<script src="{{site.baseurl}}/assets/js/software.js"></script>