<div id="container">

<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">
      <h4>Magi</h4>
      <img src="{{site.baseurl}}/assets/res/magi.png" width=300px height=220px>
      <hr>
        <p>趣味で作った自作RPGゲーム．世界観はアニメ「マギ」からもらった発送です</p>
      <a href="https://www.youtube.com/watch?v=LbOaFd-KsAs&feature=youtu.be" class="links">youtube</a>
    </div>
  </div>
</div>

<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">
      <h4>Magi</h4>
      <img src="{{site.baseurl}}/assets/res/magi.png" width=300px height=220px>
      <hr>
        <p>趣味で作った自作RPGゲーム．世界観はアニメ「マギ」からもらった発送です</p>
      <a href="https://www.youtube.com/watch?v=LbOaFd-KsAs&feature=youtu.be" class="links">youtube</a>
    </div>
  </div>
</div>


</div>
