.fullCard{
  font-family:Arial;
  margin:20px;
  width:300px;
  height:220px;
  border:1px solid #ddd;
  padding:15px;
  border-radius:5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.23);
}

h4{
  font-size:27px;
  text-align:center;
  background-color:rgba(0,0,0,0.1);
  padding:10px;
}
p{
  text-align:justify;
}

.links{
  color:black;
  display:block;
  padding-top:15px;
  opacity:0.8;
}

#container {
    display: grid; /* グリッドレイアウト */
}
