@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?of4h66');
  src:  url('fonts/icomoon.eot?of4h66#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?of4h66') format('truetype'),
    url('fonts/icomoon.woff?of4h66') format('woff'),
    url('fonts/icomoon.svg?of4h66#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-email:before {
  content: "\e949";
}
.icon-display:before {
  content: "\e956";
}

.top{
    width:1000px;
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 10px 0 rgba(0, 0, 0, 0.15);
    overflow: auto;
}
.infor-me{

}
.header-x{
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 55px;
    color: #fff;
    border-radius: 50%;
    background: black;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}
.connecting{
    float: right;
    padding: 11px 59px;
}
.connecting h3{
    font-size: 13px;
    border-bottom: 3px solid;
}
.about-me {
    display: flex;
    padding: 20px;
}
.info-con span{
    padding: 5px;
    color:#8d8181 ;
}
.info-me{
    padding:17px;
}
.info-me .name{
    font-size: 27px;
    color: #7f796f;
}
.info-me .work{
    font-size: 14px;
}
.icon-email{
    display: block;
}
.icon-phone{
   display: block;
}
.icon-email{
    display: block;
}
.icon-display{
    display: block;
}
.workexpr{
    width: 290px;
    border-bottom: 1px solid rgba(127, 122, 122, 0.81);
    color: rgba(98, 89, 89, 0.92);
}

.work_info h2{
    font-size: 30px;
}

.work_info{
    padding-left: 20px;
    color:rgba(118, 106, 106, 0.81);
    padding-top: 20px;
}
.wrapper{
    padding-left: 30px;
    border-left: 1px solid rgba(127, 122, 122, 0.81);
    position: relative;
}
.wrapper:before{
    content:"";
    width: 14px;
    height:14px;
    background: #c5b9b9;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -6px;
    left: -7px;

}
.ricy{
   width: 14px;
   height:14px;
   background: #c5b9b9;
   border-radius: 50%;
   display: block;
   position: absolute;
}
.sec{
    top:86px;
    left: -7px;
}
.thid{
    top:170px;
    left: -7px;
}
.forth{
    top:254px;
    left: -7px;
}

.skill h2{
  font-size:30px
}
.skill{
    float: right;
    padding-top: 20px;
}

.box{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    color: rgba(118, 106, 106, 0.81);
}
.wrap{
    width: 150px;
    margin-bottom:55px ;
}

.activities h2{
  font-size:30px
}
.activities{
    width: 500px;
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(118, 106, 106, 0.81);
}
.activities >h2{
    color: rgba(98, 89, 89, 0.92);
}

.button {
    width: 50px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 7px;
    box-shadow: 0 3px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }